.navbar {
  background-color: $color-primary;

  .nav-item {
    a {
      color: $color-secondary;
      padding: 8px;
      text-decoration: none;
    }

    .dropdown-item {
      @include transition;

      &:hover {
        background-color: $color-primary-shade;
      }
    }

    .dropdown-menu {
      background-color: $color-primary;
      border-color: transparent;
      text-align: center;
    }
  }

    &-toggler {
      background-color: $color-secondary;

      &-icon {
        background: url('../../assets/img/hamburger-icon.svg');
      }
    }
}