.site-content_content {
  &-buttons {
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .svg-inline--fa {
      @include transition;

      font-size: 2.5rem;
      color: $color-primary-shade;

      &:hover {
        color: $color-primary-tint;
        cursor: pointer;
      }
    }

    &-right {
      position: absolute;
      right: 45px;
    }
    &-left {
      position: absolute;
      left: 45px;
    }
  }

  @media screen and (max-width: 576px) {
    &-buttons {
      &-left {
        margin-left: 24px;
      }

      &-right {
        margin-right: 24px;
      }
    }
  }
}