.text-to-speech {
  margin: 60px 0;

  &_contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fa-volume-up {
      @include transition;

      color: $color-primary;
      font-size: 2rem;
      margin-bottom: 30px;

      &:hover {
        cursor: pointer;
        color: $color-primary-tint
      }
    }
  }

  &_range {
    width: 50%;

    &::-webkit-slider-thumb {
      background-color: $color-secondary;
    }

    &::-webkit-slider-runnable-track {
      background-color: lighten($color-secondary-tint, 10%);
    }
  }

  @media screen and (max-width: 576px) {
    
    &_range {
      width: 75%;
    }
  }
}