.btn-primary {
  background-color: transparent;
  border-color: $color-primary;
  color: $color-primary;
  min-width: 120px;

  &:hover {
    background-color: $color-primary-shade;
    border-color: $color-primary-shade;
  }
}

.btn-secondary {
  background-color: transparent;
  border-color: $color-secondary;
  color: $color-secondary;
  min-width: 120px;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: white;
  }
}