$color-primary:#2a2da0;
$color-primary-shade: #0d1065;
$color-primary-tint: #686abf;
$color-secondary: #e69020;
$color-secondary-shade: #915200;
$color-secondary-tint: #ffc477;

$white: #f3f3f3;

$danger: #f43c4c;
$danger-tint: #ff7777;
$info: #169f61;
$info-tint: #35a874;
