.App {
  @include site-wrapper;
  text-align: center;
}

.site-content {
  min-height: calc(100vh - 100px);
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 0;

    &-login {
      a {
        @include transition;

        color: $color-secondary;
        text-decoration: none;

        &:hover {
          color: $color-secondary-tint;
        }
      }
      

      span {
        font-size: 0.75em;
      }
    }
  }

  &_phrase-list {
    padding: 60px 30px;
  }
}